body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #A4C3B2;
    margin: 0;
}

.login-container{
    background-color: #CCE3DE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0, 1);
    width: 100%;
    max-width: 400px;
}
.login-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.btn-close {
    margin-left: 10px;
}

.form-group{
    margin-bottom: 15px;
    position: relative;
}
.toggle-password {
    position: absolute;
    right: 10px;
    top: 50px;
    transform: translateY(-50px);
    cursor: pointer;
}

.btn-login{
    font-size: 1.5rem;
}